pip >= 23.3.1
scikit_build_core
wheel
ninja
tqdm
numpy
torch==2.9.1
GitPython
pandas
pytest
pytest-markdown-docs
point-cloud-utils
oiio-static-python
matplotlib
opencv-python-headless
rich
pytest_benchmark
parameterized
polyscope
